<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../public/css/styles.css"
	th:href="@{/css/styles.css}" />
<link rel="icon" href="../public/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
<script src="../public/js/jquery-3.1.0.min.js"
	th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/blog-scripts.js"
	th:src="@{/js/blog-scripts.js}"></script>
<title>Create Post</title>
</head>

<body>

	<header th:replace="layout :: site-header" />

	<h1>Create A Post</h1>

	<form method="post" th:action="@{/posts}" th:object="${post}">
		<div>
			<label for="title">Title:</label>
		</div>
		<input id="title" type="text" name="title" th:field="*{title}" required/><br/><br/>
		<span class="validationError" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</span>

		<label for="body">Content: </label>
		<textarea name="body" id="body" rows=10 cols=50 required></textarea>
		<span class="validationError" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Blog Error</span>

		<div>
			<input type="submit" value="Post" /> 
		</div>
	</form>

	<footer th:replace="layout :: site-footer" />

</body>

</html>