<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>
<link rel="stylesheet" href="../public/css/styles.css"
	th:href="@{/css/styles.css}" />
<link rel="icon" href="../public/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
<script src="../public/js/jquery-3.1.0.min.js"
	th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/blog-scripts.js"
	th:src="@{/js/blog-scripts.js}"></script>



<title>Welcome to Spring MVC Blog</title>
</head>



<body>


	<header th:replace="layout :: site-header" />

	<aside>
		<h2>Recent Posts</h2>
		<a href="#" th:each="p : ${posts}" th:text="${p.title}"
			th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a>
	</aside>

	<main id="posts">
	<article th:each="p : ${posts}">
		<h2 class="title" th:text="${p.title}">Post Title</h2>
		<div class="date">
			<i>Posted on</i> <span
				th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}">22-May-2016</span>
			<span th:if="${p.author}" th:remove="tag"> <i>by</i> <span
				th:text="${p.author.fullName != null ?
                        p.author.fullName : p.author.username}">Svetlin
					Nakov</span>
			</span>
		</div>
		<p class="content" th:utext="${p.body}">Post content</p>
	</article>

	</main>

	<footer th:replace="layout :: site-footer" />

</body>

</html>