<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../public/css/styles.css"
	th:href="@{/css/styles.css}" />
<link rel="icon" href="../public/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
<script src="../public/js/jquery-3.1.0.min.js"
	th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/blog-scripts.js"
	th:src="@{/js/blog-scripts.js}"></script>
<title>Login</title>
</head>

<body>

	<header th:replace="layout :: site-header" />

	<h1>Login in the Blog</h1>

	<form method="post" th:action="@{/login}">
		<div>
			<label for="username">Username:</label>
		</div>
		<input id="username" type="text" name="username" />

		<div>
			<label for="password">Password:</label>
		</div>
		<input id="password" type="password" name="password" />

		<div>
			<input type="submit" value="Login" /> <a href="register.html"
				th:href="@{/register}">[Go to Register]</a>
		</div>
	</form>

	<footer th:replace="layout :: site-footer" />

</body>

</html>