<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../public/css/styles.css"
	th:href="@{/css/styles.css}" />
<link rel="icon" href="../public/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
<script src="../public/js/jquery-3.1.0.min.js"
	th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/blog-scripts.js"
	th:src="@{/js/blog-scripts.js}"></script>
<title>Login</title>
</head>

<body>

	<header th:replace="layout :: site-header" />

	<h1>Register</h1>

	<form method="POST" th:action="@{/register}" id="registerForm">
		<label for="username">Username: </label> 
		<input type="text" name="username" /><br /> 
		<label for="password">Password: </label>
		<input type="password" name="password" /><br />
		<label for="confirm">Confirm password:</label>
		<input type="password" name="confirm" /><br /> 
		<label for="fullName">Full name: </label>
		<input type="text" name="fullName" /><br />

		<input type="submit" value="Register" />
	</form>

	<footer th:replace="layout :: site-footer" />

</body>

</html>