<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">

<link rel="stylesheet" href="../public/css/styles.css"
	th:href="@{/css/styles.css}" />
<link rel="icon" href="../public/img/favicon.ico"
	th:href="@{/img/favicon.ico}" />
<script src="../public/js/jquery-3.1.0.min.js"
	th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script src="../public/js/blog-scripts.js"
	th:src="@{/js/blog-scripts.js}"></script>
<meta th:include="this :: head" th:remove="tag" />
</head>
<body>

	<header th:fragment="site-header">
		<a href="index.html" th:href="@{/}"><img
			src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}" /></a>
			<a href="index.html" th:href="@{/}">Home</a>
		<a href="posts/index.html" th:href="@{/posts}">Posts</a>
		 <a href="posts/create.html" th:href="@{/posts/create}">Create Post</a> 
		 <a href="posts/mine.html" th:href="@{/posts/mine}">My Posts</a> 
		 <a href="users/index.html" th:href="@{/users}">Users</a>
		<div id="logged-in-info">
			<span>Hello, <b>[[${#httpServletRequest.remoteUser}]]</b></span>
			<form method="post" th:action="@{/logout}">
				<input type="submit" value="Logout" />
			</form>
		</div>

	

		</ul>
	</header>

	<h1>Welcome</h1>
	<p>Welcome to the Spring MVC Blog.</p>

	<footer th:fragment="site-footer"> &copy; Spring MVC Blog
		System, 2016 </footer>
</body>
</html>